$title-font: 'Bungee', cursive;
$content-font: 'Source Sans 3', sans-serif;

$background-color: #f4f1ec;
$default-font-color: #FFFFFF;
$text-color: #545149;
$nav-color: #4056A1;
$tweet-hover-color: rgb(164, 180, 200);
$deep-red: #D8000C;