@import 'sass-variables';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: $nav-color;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0px;
}

.logo {
  font-family: $title-font;
  font-size: 40px;
}

.heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Source Sans 3', sans-serif;
}

.new-tweet-button {
  font-family: 'Source Sans 3', sans-serif;
  margin: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.fa-angles-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  color: red;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}