nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-family: 'Bungee', cursive;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: 'Source Sans 3', sans-serif;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.fa-angles-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: red;
}

/* .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
} */