/* entire new tweet section */
.new-tweet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* tweet form area */
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* new tweet text box */
textarea{
  border-width: 0 0 4px 0;
  background-color: #f4f1ec;
}

/* what are you humming about text */
label {
  display: flex;
  flex-basis: 100%;
  height: 0;
}

/* tweet submit button */
button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  border-style: none;
  margin-top: 10px;
}

/* character counter */
output {
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee', cursive;
  color: #545149;
}