/* posted tweets container */
.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #f4f1ec;
}

.tweet {
  border: solid;
  border-width: 4px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.tweet:hover {
  box-shadow: 5px 5px 1px rgb(164, 180, 200);
}

/* tweet header with user image, name, and handle */
article.tweet header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 50px;
  height: 50px;
}

.handle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(164, 180, 200);
}

/* tweet content that the user input into the textarea*/
.tweet-content {
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
  border-width: 0 0 4px 0;
}

/* footer with date and icons */
article.tweet footer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}

/* time tweet was posted */
.tweet-date {
  display: flex;
}

/* flag, retweet, and heart icons */
.icons {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.fa-flag:hover {
  color: rgb(164, 180, 200);
}

.fa-retweet:hover {
  color: rgb(164, 180, 200);
}

.fa-heart:hover {
  color: rgb(164, 180, 200);
}
